<footer>
  <br>
  <hr>
  <small style="text-align: center; display: block">&copy; 2024, GoFiks Corporation</small>
  <p style='font-style: italic;text-align: center;'>Edit in app/views/pages/shared/_footer.html.erb</p>
</footer>
