<header>
  <h1 style="display: inline-block">
    <em><a href="/" style="text-decoration-line:none; color: black">TopSecret</a></em>
  </h1>
  <p style='font-style: italic;text-align: center; display: inline-block; margin-left: 3rem'>(Edit in app/views/pages/shared/_header.html.erb)</p>
</header>
