.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-form-1 {
  height: 418px;
  margin: 30px 546px 0 24px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 482px;
  margin: -587px 0 105px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 307px;
  }
}